# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml
.vscode/
.DS_Store

# Тесты и отчёты
.pytest_cache/
#.coverage
*.log

# Файлы с данными
*.csv
*.xlsx
*.xls
*.db
*.sqlite3

# Poetry
poetry.lock

# Другое
*.tmp
*.bak